{%load static%}
<nav>
    <a href="{% url 'homepage'%}">Reserva</a>
    <a href="{% url 'loja'%}">Loja</a>
    <a href="{% url 'login'%}">Login</a>
    <a href="{% url 'minhaconta'%}">Minha Conta</a>
    <a href="{% url 'carrinho'%}">Carrinho</a>
    <img src="{% static 'images/carrinho.png' %}" alt="Carrinho" width="15" height="15">
    {{quantidadeProdutosCarrinho}}

</nav>


    <div style="display:flex;">
        {% for categoria in categorias %}
        <div>
            <a href="{% url 'loja' %}{{categoria.slug}}">{{categoria.nome}}:</a>
            <br>
            {% for tipo in tipos %}
            <a href="{% url 'loja' %}{{categoria.slug}}-{{tipo.slug}}">{{tipo.slug}}</a>
            {% endfor %}         
        </div>
        {% endfor %}


    </div>