{%extends 'base.html'%}
{% load static %}

{% block body %}

<h3>Criar Conta!</h3>

{% if erro == "preenchimento" %}
<p>Preencha todas as informações corretamente</p>
{% endif %}

{% if erro == "emailInvalido" %}
<p>Email Invalido</p>
{% endif %}

{% if erro == "usuarioExistente" %}
<p>Já existe um usuario com esse login</p>
{% endif %}

{% if erro == "senhaInvalida" %}
<p>A senha e a confirmação não são iguais</p>
{% endif %}

<form method="post" action="{% url 'criarConta' %}">
    {% csrf_token %}

    <input type="email" name="email" placeholder="Email">
    <input type="password" name="senha" placeholder="Senha">
    <input type="password" name="confirmacaoSenha" placeholder="Confirmar senha">

    <button type="submit">Criar Conta</button>
</form>

<a href="{% url 'fazerLogin' %}">Já tem uma conta? Fazer login</a>
<a href="{}">Esqueci minha senha</a>


{% endblock %}

